<div class="field">
  <%= form.label :name %><br />
  <%= form.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</div>
