<h1>My Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Likes</th>
      <th>Content</th>
      <th>Posted</th>
      <th>Author</th>
    </tr>
  </thead>

  <%== pagy_info(@pagy) %>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="post">
        <%= render "post", post: post, user: @user %>
      </tr>
    <% end %>
  </tbody>
</table>
