<h1>New Post</h1>

<%= form_with(model: @post, local: true, url: user_posts_path(@post.user)) do |form| %>
  <%= render 'form', post: @post, form: form %>
<% end %>

<%= link_to 'Cancel', user_posts_path(@user) %>
