<h1>
  <%= @post.title %>
</h1>

<p>
  <strong>By:</strong>
  <%= link_to @post.user.name, user_path(@post.user) %>
</p>

<p>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_user_post_path(@post.user, @post) %> 
