<nav>
  <%= link_to "Home", root_path %> 
  <span style="<%= hidden_if_no_user(current_user) %>">
    | <%= link_to "All Posts", posts_path %>
    | <%= link_to "Profile", user_path(current_user) if user_signed_in? %>
  </span>
</nav>

<br>
